name: Print Secret

on:
  workflow_dispatch:

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print SLACK_WEBHOOK_URL
        run: |
          echo "SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}"

